<div class="container">
    <div class="page-header">

        <h1>Create a New Category</h1>

        <div class="topbottons">
            <a href="/"><button style="float: left;" type="button" class="btn btn-success btn btn-lg">Home</button></a>
            <button style="float: right;" type="button" class=" btn btn-warning btn btn-lg">LogOut</button>

            <div>
                <form ng-submit="createCategory()">
                    <input type="text" placeholder="Name of Category" ng-model="newCategory.name">
                    <input type="submit" value="Create New Category">
                </form>
            </div>

        </div>



        <hr>





        <h1>List of All Categories</h1>

        <div class="post-container">
            <div style="color: white;" ng-repeat="c in category">
                <h4>{{ c.name }}</h4>
            </div>
        </div>

    </div>
</div>