<div class="container">
    <div class="page-header">

        <div class="post-container">
            <h1>Single View Of Post</h1>

            <hr>
            
            <div class="post">
                <h3>{{ post.title }}</h3>
                <h5>Written by {{ post.authorfirstname }} {{ post.authorlastname }}</h5>
                <h5>{{ post.createdAt | date: 'short' }}</h5>
                <p>{{ post.content }}</p>

                <button ng-click ="edit()">Edit your Post</button>
                <button ng-click ="delete()">Delete your Post</button>
            </div>
        </div>
    </div>
</div>