<div class="container">
    <div class="page-header">
        <div class="post-container">
            <div id="post-list">
                <h1>Single Post Update</h1>

                <hr>

                <div class="post-box">
                    <form ng-submit="save()">
                        <input style="border: 1px solid white;
                            border-radius: 5px;" type="text" ng-model="post.title" placeholder="Enter name of Title">
                        <select ng-model="post.categoryid">
                            <option value=""> Select Category</option>
                            <option ng-repeat="c in categories" value="{{ c.id }}">{{ c.name }}</option>
                        </select>
                </div>

              
                <textarea style="max-width:100%;" id="post-blog" ng-model="post.content" id="" cols="70" rows="10"></textarea>

                <br>

                <input style="border: 1px; border-radius: 5px;" type="submit" value="Post Content">
                </form>

            </div>
        </div>
    </div>
</div>