<div class="container">

    <div class="page-header">
        <h1>Single Update</h1>
    </div>

    <div class="topbottons">
        <a href="/"><button style="float: left;" type="button" class="btn btn-success btn btn-lg">Home</button></a>
    </div>

    <br>

    <hr>



    <div class="post-box">
        <form ng-submit="save()">
            <input style="border: 1px solid white;
                            border-radius: 5px;" type="text" ng-model="post.title" placeholder="Enter name of Title">

            <select ng-model="post.categoryid">
                            <option value=""> Select Category</option>
                            <option ng-repeat="c in category" value="{{ c.id }}">{{ c.name }}</option>
                        </select>

            <textarea style="max-width:100%;" id="post-blog" ng-model="post.content" id="" cols="60" rows="10"></textarea>

            <br>

            <input style="border: 1px; border-radius: 5px;" type="submit" value="Post Content">
        </form>
    </div>
</div>