<div class="container">
    <div class="page-header">
        <div class="post-box">
            <form ng-submit="createUser()">
                <input type="text" placeholder="First Name" ng-model="newUser.firstname">
                <input type="text" placeholder="Last Name" ng-model="newUser.lastname"><br>
                <input type="email" placeholder="Enter Email" ng-model="newUser.email">
                <input type="password" placeholder="Enter Password" ng-model="newUser.password"><br>
                <input type="submit" value="Create New User">
            </form>
        </div>
        <br>
        
        <h1>User List</h1>
        <div class="post-container">
            <div ng-repeat="user in users">

                <h3>{{ user.firstname }} {{ user.lastname }}</h3>
                <h4>{{ user.email }}</h4>
                <h5>{{ user.role }}</h5>

            </div>
        </div>
    </div>
</div>